

.progress {
    position: fixed;
    top: 50%;
}

.tournament-name, .player-info {
    font-weight: 400px;
    font-size: 2rem;
}

.tournament-game, .tournament-date, .tournament-type, .tournament-place {
    font-weight: 200px;
    font-size: 1.5rem;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.player-image {
    height: 300px;
}